.button {
  border-radius: 10rem;
  padding: 1rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s, background 0.3s;
  cursor: pointer;
}

.button:disabled {
  border: 1px solid rgba(var(--dark), 0.12);
  color: rgb(var(--dark), 0.4);
  background-color: rgb(var(--white));
  cursor: not-allowed;
  pointer-events: none;
}

.filled {
  background-color: rgb(var(--dark));
  color: rgb(var(--white));
}

.transparent {
  background: none;
  border: 1px solid rgb(var(--dark));
  color: rgb(var(--dark));
  background-color: white;
}

.filled:active {
  background-color: rgba(var(--dark), 0.12);
  color: rgb(var(--dark));
}
.transparent:active {
  background-color: rgba(var(--white));
}
