:root {
  --max-width: 130rem;
  --border-radius: 12px;

  --main-text-color: 5, 57, 28;
  --primary-text-color: 240, 249, 244;
  --accent-text-color: 52, 165, 101;

  --accent-bg-color: 52, 165, 101;
  --fading-bg-color: 168, 224, 192;
  --dim-bg-color: 240, 249, 244;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  min-width: 32rem;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: var(--fira-font), sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(var(--main-text-color));
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
