.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 8rem;
  background-color: rgba(var(--lightest));
  border: 1px solid rgb(var(--light));
  border-top: none;
  border-bottom-left-radius: 3.6rem;
  border-bottom-right-radius: 3.6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* @media screen and (max-width: 120em) {
  .header {
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
  }
} */

@media screen and (max-width: 56em) {
  .content {
    padding: 1.6rem 2rem;
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(var(--light));
  }
}
